@media (max-width: 1366px){
    .collection{
        flex-wrap: wrap;
    }
    .map{
        margin-top: 0;
    }
}

@media (max-width: 1200px){
    .top{
        .top__inner{
            &::after{
                height: 78%;
            }
        }
    }
    .top__slider-img{
        height: 640px;
    }
    .top__slider-title{
        line-height: 74px;
        font-size: 62px;
    }
}

@media (max-width: 1200px){
    .blog__items{
        max-width: 100%;
    }
    .blog__item-img{
        max-width: 100%;
        width: 100%;
    }
    .blog__inner{
        flex-wrap: wrap;
    }
    .aside{
        width: 100%;
        margin-left: 0;
        margin-bottom: 50px;
        order: -1;
    } 
    .article-popup__img{
        width: 100%;
    }  
}

@media (max-width: 992px){
    .works-path__item{
        width: 33.3%;
    }
    .gallary__items{
        gap: 10px;
    }
    .gallary__btn{
        margin: 0;
        padding: 6px 10px;
    }
    .about__content {
        padding: 40px 0 40px;
    }
    .about__text {
        padding-left: 0px;
    }
    .footer__info{
        width: 380px;
    }
}

@media (max-width: 890px){
    .works-path__items{
        flex-direction: column;
    }
    .works-path__item{
        max-width: 95%;
        width: 95%;
        padding: 15px;
        margin-left: 30px;
    }
    .works-path__item:nth-child(2){
        align-self: flex-start;
    }
    .works-path__item-title{
        min-width: 50%;
    }
    .works-path__items::before,
    .works-path__items::after,
    .works-path__item:nth-child(2)::before,
    .works-path__item:nth-child(2)::after{
        display: none;
    }
}

@media (max-width: 840px){
    .top__slider-img{
        height: 540px;
    }
    .top__slider-title{
        line-height: 54px;
        font-size: 44px;
    }
    .footer__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__info{
        width: 100%;
        margin-bottom: 50px;
    }
    .footer__info-text{
        max-width: 100%;
    }
    .footer__social,
    .footer__menu{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px){
    .header__btn{
        display: none;
    }
    .menu__list-item{
        padding-left: 0;
       & + .menu__list-item{
            padding-right: 0;
        } 
    }
    .logo{
        margin: 0;
    }
    .decor{
        padding: 70px 0 55px;
    }
    .gallary {
        padding: 40px 0 90px;
    }
    .gallary__btn{
        margin-bottom: 5px;
        padding: 6px 25px;
    }
    .about__prev{
        padding: 80px 0;
    }
    .about__popup {
        min-height: 350px;
    }
    .inspiration__image{
        display: none;
    }
    .map{
        iframe{
            height: 375px;
        }
    }
    
}

@media (max-width: 650px){
    .logo{
        order: -1;
        position: relative;
        z-index: 101;
    }
    .header__inner{
        flex-wrap: wrap;
        padding-top: 42px;
    }
    .menu{
        padding-right: 0;
        width: 100%;
        background-color: #fff;
        position: relative;
        z-index: 100;
        text-align: center;
        transform: translateY(-350px);
        transition: all .5s;
        &--open{
            transform: translateY(30px);
        }
    }
    .menu__list{
        display: block;
    }
    .menu__list-item{
        padding-right: 0;
    }
    .menu__list-link{
        display: block;
        padding: 15px 0;
    }
    .menu__list-link--active::after{
        display: none;
    }
    .header__btn-menu{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        order: -1;
        position: relative;
        z-index: 101;
        span{
            display: block;
            background-color: #000;
            width: 37px;
            height: 3px;
            border-radius: 4px;
            margin: 6px;
        }
    }
    .top__inner{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .top__slider-item{
        .top__slider-img{
            display: none;
        }
    }
    .top__slider-text{
        padding-bottom: 50px;
    }
    %title-font{
        font-size: 28px;
        line-height: 36px;
    }
    .blog-box__item-title{
        font-size: 20px;
        line-height: 36px;
    }
    .about__prev-title{
        font-size: 40px;
        line-height: 48px;
    }
    .works-path__item-title,
    .inspiration__item-text,
    .inspiration__num
    {
        font-size: 16px;
    }
    .aside__category-title,
    .aside__posts-title,
    .aside__tags-title,
    .blog__blockquote-author {
        font-size: 16px;
        line-height: 23px;
    } 
    .blog__item-title{
        font-size: 24px;
        line-height: 38px;
    }
    .blog-one__comments-name,
    .blog-one__form-title{
        font-size: 16px;
        line-height: 27px;
    }
    .gallary__btn{
        padding: 6px 10px;
    }
    .blog-box__items,
    .blog-box__img-link{
        display: block;
    }
    .blog-box__item{
        margin-bottom: 20px;
    }
    .blog-box__img{
        width: 100%;
    }
    .about__popup {
        min-height: 300px;
    }
    .contact .contact__social,
    .contact__box,
    .contact__form {
        padding-left: 0px;
    }
    .contact__form-input{
        width: 100%;
    }
}

@media (max-width: 540px){
    .works-path__item{
        margin-left: 15px;
    }
    .gallary__items{
        grid-template: repeat(2, 280px)/repeat(2, 1fr);
    }
    .gallary__item:first-child{
        grid-column: 1;
        grid-row: 1;
    }
    .gallary__item:nth-child(3){
        grid-column: span 2;
        grid-row: span 2;
    }
    .about__popup {
        min-height: 250px;
    }
    .contact-slider{
        display: none;
    }
    .blog-one__links{
        padding: 30px 0 30px;
    }
    .blog-one__link{
        span{
            display: none;
        }
    }
    .blog-one__comments-item{
        flex-wrap: wrap;
    }
    .blog-one__comments-avatar{
        width: 50px;
        height: 50px;
        order: -2;
    }
    .blog-one__comments-name{
        margin-left: 60px;
        margin-top: -50px;
    }
    .blog-one__comments-date{
        margin-left: 60px;
        margin-top: 5px;
    }
    .blog-one__reply{
        order: -1;
    }
    .blog-one__form-input{
        width: 100%;
    }
}

@media (max-width: 375px){
    .works-path__item{
        flex-direction: column;
        align-items: flex-start;
    }
    .works-path__item-title{
        align-self: auto;
        margin-left: 0;
    }
    .gallary__buttons{
        display: grid;
        justify-items: center;
    }
    .gallary__btn{
        padding: 0px 10px;
        width: 90%;
    }
    .gallary__items {
        gap: 5px;
    }
    .about__popup {
        min-height: 200px;
    }
    .inspiration__item {
        margin-bottom: 24px;
    }
    .inspiration__item-content{
        flex-direction: column;
        padding-bottom: 10px;
    }
    .inspiration__num{
        line-height: 25px;
    }
    .inspiration::after{
        height: 414px;
    }
    .blog-one__item-blockquote{
        padding: 0 20px;
    }
    .footer__inner{
        justify-content: space-between;
    }
    .footer__form{
        display: block;
    }
    .footer__form-button{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
    .footer__social{
        margin-left: 0;
    }
}
